input(type="text" required ng-model="input")
input(type="text" ng-model="input")
input(type="text" n-show="{{adasd: 'asda'}}" ng-model="das")
input(type="text" n-show="{{adasd: 'asda'}}" ng-model="input")
